<div id="edit-legend-modal" class="modal fade bs-edit-legend-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="edit_legend">
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-1 control-label i18n" id="indice-title" data-i18n="title">
                        </label>
                        <div class="col-lg-11">
                            <input id="modal-legend-id" type="hidden" />
                            <input id="legend-title" type="text" name="indice-text" maxlength="50" class="form-control" />
                        </div>
                    </div>
                </div>
                <div id="indice-description">
                </div>
            </div>
        </div>
    </div>
</div>
