<div id="help-modal" class="modal fade bs-help-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="help"></h4>
            </div>
            <div id="help">
                <details open>
                    <summary class="i18n" data-i18n="intro"></summary>
                    <div class="i18n" data-i18n="intro_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="principle"></summary>
                    <div class="i18n" data-i18n="principle_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="import"></summary>
                    <div class="i18n" data-i18n="import_description">
                    </div>
                    <fieldset id="figure-1">
                        <legend>Figure 1</legend>
                        <img src="./static/help/fig1.png" alt="figure 1" />
                    </fieldset>
                    <fieldset id="figure-2">
                        <legend>Figure 2</legend>
                        <img src="./static/help/fig2.png" alt="figure 2" />
                    </fieldset>
                </details>
                <details>
                    <summary class="i18n" data-i18n="create_legend"></summary>
                    <div class="i18n" data-i18n="create_legend_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="save"></summary>
                    <div class="i18n" data-i18n="save_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="reopen"></summary>
                    <div class="i18n" data-i18n="reopen_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="new_import"></summary>
                    <div class="i18n" data-i18n="new_import_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="view_mode"></summary>
                    <div class="i18n" data-i18n="view_mode_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="error_import"></summary>
                    <div class="i18n" data-i18n="error_import_description">
                    </div>
                </details>
                <details>
                    <summary class="i18n" data-i18n="limitation"></summary>
                    <div class="i18n" data-i18n="limitation_description">
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>
