<div class="modal fade bs-unstable-errors-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" data-i18n="errors"></h4>
                <div class="i18n" data-i18n="error_unstable_version"></div>
            </div>
        </div>
    </div>
</div>
<div id="errors-modal" class="modal fade bs-errors-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="errors"></h4>
                <div id="error-file-not-supported" class="i18n" data-i18n="error_file_not_supported"></div>
            </div>
        </div>
    </div>
</div>
<div id="warnings-modal" class="modal fade bs-warnings-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title i18n" id="myModalLabel" data-i18n="warnings"></h4>
                <ol id="warning-list">
                    <li id="warning-style-detected"        class="hidden i18n" data-i18n="warning_style"></li>
                    <li id="warning-script-detected"       class="hidden i18n" data-i18n="warning_script"></li>
                    <li id="warning-viewbox-detected"      class="hidden i18n" data-i18n="warning_viewbox"></li>
                    <li id="warning-mask-tag-detected"     class="hidden i18n" data-i18n="warning_mask"></li>
                    <li id="warning-clipPath-tag-detected" class="hidden i18n" data-i18n="warning_clippath"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
