* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow : hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    color: #0f3c4b;
    padding: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.hidden {
    display: none!important;
}

.container {
    width: 100%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 5px;
}
body {
    margin: 0;
}

#svg {
    position: absolute;
    height: 100vh;
    margin-left: 0;
    width: 100vw;
    padding: 0;
    background: white;
}

#svg.show.duration svg {
    transition-duration: 1s;
}

#frame {
    height: 100%;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: calc(100vh - 10px);
}

#content svg {
    height: 100%;
    min-height: calc(75vh - 10px);
    width: calc(100vw - 10px);
}
#real-legend {
    min-height: 5vh;
    max-height: 25vh;
    overflow: auto;
}

#real-legend label {
    vertical-align: top;
    position: relative;
    z-index: 1;
}

#real-legend label span,
#indices article.indice > div {
    width: 4vh;
    height: 4vh;
    font-size: 2vh;
    padding: .1vh;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: solid .4vh white;
    border-radius: .5vh;
    display: block;
    cursor: pointer;
}

#real-legend label span {
    padding-top: 0.5vh;
    display: inline-block;
    border-radius: 1.1vh;
}

#real-legend label em {
    padding-right: 1rem;
}

#indices {
    position: absolute;
    width: calc(-10px + 100%);
    height: calc(-10px + 100%);
    z-index: 1000;
}

#indice-editor {
    position: absolute;
    bottom: 5px;
}

#indices article {
    position: absolute;
    margin: -1.75vh -2.25vh;
    top: 50%;
    left: 50%;
}

#indices article .indice {
    width: 4vh;
    height: 4vh;
    font-size: 2vh;
    padding: .1vh;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: solid .4vh white;
    border-radius: .5vh;
    display: block;
    cursor: pointer;
}

#svg svg {
    width: 100%;
    height: 100%;
}

#svg .mask {
    cursor: auto;
}

#svg .indice text {
    font-size: 7px;
}

#svg .indice .mask {
     fill: transparent;
    cursor: pointer;
}

.container .save {
    display: inline-block;
}

.description {
    z-index: 1;
    width: 35vw;
    margin: 11vh 2vw;
    display: block;
    position: absolute;
    background: white;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
}

.description h2 {
    margin-top: 0;
}

.description .indice {
    position: static;
    display: inline-block;
    font-size: 2rem;
    width: 3.8rem;
    height: 3.8rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: solid .2rem white;
    border-radius: .5rem;
    margin: .2rem;
    padding: .8rem;
}