::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body {
    overflow : hidden;
    font-family: sans-serif;
    color: #0f3c4b;
    padding: 0;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 5px;
}

table > tbody > tr > td:first-child {
    width: 1px;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    max-width: 680px;
    text-align: center;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 5px;
}

/* <UPLOAD> */
#choose-file-zone {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#choose-file-zone div {
    margin-top: 65%;
}

#upload-zone {
    margin-top: 10vh;
}

#download-pic {
    display: block;
    font-size: 30vh;
    margin-bottom: 1rem;
}
/* </UPLOAD> */

/* <MENU> */
.dropdown-menu {
    padding: 5px;
}

.dropdown-menu li {
    cursor: pointer;
}

#edit-menu {
    padding: 5px;
    min-height: 34px;
    border-bottom: solid 1px #ddd;
    background: white;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: -10px;
    }
}

#show-menu {
    padding: 5px;
    height: 34px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: none;
}

#return-to-edit {
    margin-right: -15px;
}

.navbar-nav > li {
    padding-right: 1rem;
}

.glyphicon-undo {
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.glyphicon-undo:before {
    content: "\e095";
}

.navbar {
    margin: 0;
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #563d7c;
}

#return-to-edit {
    z-index: 1;
    position: relative;
}
/* </MENU> */

#delete-svg {
    z-index: 1;
    right: 5px;
    position: absolute;
}

/* <SIDEBAR> */
#sidebar {
    padding: 5px;
    padding-bottom: 25px;
    height: calc(-35px + 100%);
    width: 30rem;
    position: absolute;
    background: white;
    border-right: solid 1px #ddd;
}

#sidebar #legend-container {
    padding: 0;
    height: 100%;
}

#sidebar #legend-container.edit-legend {
    height: calc(-185px + 100%);
    margin-bottom: 44px;
}

#legend-list-container {
    overflow: auto;
    height: calc(100% - 33px);
    width: calc(5px + 100%);
    padding-left: 0;
    padding-right: 5px;
}

#add-and-delete-legend {
    margin-bottom: 5px;
}

#delete-legend-button {
    float: right;
}

#sidebar td span {
    margin-left: 0;
}

#sidebar .indice,
.gu-mirror .indice {
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: none;
    border-radius: .5rem;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    margin: 0;
    margin-right: 5px;
    padding: .1rem .5rem;
    display: inline-block;
    vertical-align: middle;
}

.gu-mirror .indice {
    margin: .2rem;
}

#sidebar table {
    margin: 0;
    border-right-width: 1px;
}

#sidebar table th {
    border-bottom: none;
}

#list-of-legend {
    border-top: none;
}

#list-of-legend th {
    border-top: solid 1px #ddd;
}

#list-of-legend th.no-visible {
    border-top: none;
}

#list-of-legend tbody tr {
    cursor: move;
}

#list-of-legend tbody td em {
    margin-left: 5px;
    color: #ddd;
    vertical-align: middle;
}

#list-of-legend td.selection {
    width: 10px;
}

.display-indice {
    cursor: default;
}

.display-indice:before {
    font-family: 'Glyphicons Halflings';
    content: "\e106";
    color: lightgray;
}

.display-indice.show:before {
    content: "\e105";
    color: #333;
}

.open-detail {
    cursor: pointer;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.open-detail:before {
    content: "◥";
    transform: rotate(45deg);
    transform-origin: center center;
    position: absolute;
    transition-duration: .3s;
}

.open-detail.unfolded:before {
    transform: rotate(135deg);
    margin-left: 3px;
}

.detail .form-group.first {
    margin-top: 5px;
}

.detail .form-group.last {
    margin: 0;
}

#source-file-zone {
    border-top: solid 1px #ddd;
    color: #333;
}
/* </SIDEBAR> */

/* <CONTENT> */
#mask-on-drag {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

#svg {
    height: calc(-34px + 100vh);
    margin-left: 30rem;
    width: calc(-30rem + 100vw);
    padding: 5px;
    position: absolute;
    background-image: linear-gradient(-45deg,rgb(255,255,255) 25%,
        transparent 25%,
        transparent 50%,rgb(255,255,255) 50%,
        rgb(255,255,255) 75%,
        transparent 75%,transparent);
    background-size: 40px 40px;
    background-color: #f5f5f5;
}

#frame {
    height: 100%;
    overflow: hidden;
}

#content {
    height: 100%;
}

#indices {
    position: absolute;
    width: calc(-10px + 100%);
    height: calc(-10px + 100%);
    z-index: 1000;
}

#indice-editor {
    border: 1px solid #ddd;
    padding: 5px;
}

#indices article {
    position: fixed;
    top: 50%;
    left: 50%;
}

#sidebar td span.indice-title {
    white-space: nowrap;
    width: 19rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    margin-top: -21px;
    padding: 0 0 0 2.6rem;
    margin-left: 22px;
}

#real-legend {
    min-height: 5vh;
    max-height: 25vh;
    overflow: auto;
}

#real-legend label {
    position: relative;
    z-index: 1;
}

#real-legend label span,
#indices article.indice > div {
    width: 4vh;
    height: 4vh;
    font-size: 2vh;
    padding: .1vh;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: solid .4vh white;
    border-radius: .5vh;
    display: block;
    cursor: pointer;
}

#real-legend label span {
    padding-top: 0.5vh;
    display: inline-block;
    border-radius: 1.1vh;
}

#indices article.is-draggable {
    z-index: 1000;
}

#indices article .cross {
    position: absolute;
    z-index: 100000;
}

#indices article .cross:after {
    content: "\e068";
    font-family: 'Glyphicons Halflings';
    color: white;
    font-size: 30px;
    position: absolute;
    right: -25px;
    top: -63px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#zoom-slider .slider-selection {
    background: #BABABA;
}

#svg.show {
    position: absolute;
    height: 100vh;
    margin-left: 0;
    width: 100vw;
    padding: 0;
    background: white;
}

#svg.show.duration svg {
    transition-duration: 1s;
}

.show #content {
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: calc(100vh - 10px);
}

.show #content svg {
    height: 100%;
    min-height: calc(75vh - 10px);
    width: calc(100vw - 10px);
}

#indices-test {
    opacity: .7;
    z-index: 10;
}

#svg svg {
    width: 100%;
    height: 100%;
}

#svg .indice .mask {
     fill: transparent;
    cursor: pointer;
}

#svg .indice .indice-cross {
    cursor: default;
}

#svg .indice .indice-cross {
    font-family: 'Glyphicons Halflings';
    fill: white;
    stroke: #444;
    stroke-width: .3;
}

#svg .indice .indice-cross.hidden {
    fill: transparent;
    stroke: transparent;
}

#svg .mask {
    cursor: auto;
}

#svg .indice text {
    font-size: 7px;
}

.container .save {
    display: inline-block;
}

.box.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
    outline: 2px solid #92b0b3;
}

.box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box {
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__uploading, .box__success, .box__error {
    display: none;
}

.box__file + label {
    margin-top: 20px;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file + label:hover strong,
.box__file:focus + label strong, .box__file.has-focus + label strong {
    color: #39bfd3;
}

/* MODAL */
.modal-content {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.modal-header, .modal-body {
    padding: 5px;
}

.modal-footer {
    padding: 5px;
}

.trumbowyg-box, .trumbowyg-editor {
    margin: 0;
}

.form-horizontal .form-group {
    margin-bottom: 5px;
    margin-left: 0;
}

#indice-title {
    padding: 7px 0;
    width: 2rem;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}

#legend-title {
    padding: 5px;
    font-family: monospace;
    font-size: 1.5rem;
    width: 46.5rem;
}

.description {
    z-index: 1;
    width: 35vw;
    margin: 11vh 2vw;
    display: block;
    position: absolute;
    background: white;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
}

.description h2 {
    margin-top: 0;
}

.description .indice {
    position: static;
    display: inline-block;
    font-size: 2rem;
    width: 3.8rem;
    height: 3.8rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #d9534f;
    border: solid .2rem white;
    border-radius: .5rem;
    margin: .2rem;
    padding: .8rem;
}

#about, #help  {
    padding: 5px;
}

#about summary {
    outline: none;
}
/* DRAGULA.CSS */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}