<div id="edit-zone" class="hidden">
    <div id="svg" class="edit-mode">
        <section id="descriptions">
            <article id="template-description" class="description hidden">
                <h2>
                    <span class="indice">0</span>
                    <span class="title"></span>
                </h2>
                <div class="description-content">
                </div>
            </article>
        </section>
        {% include "frame.html" %}
        </div>
    {% include "sidebar.html" %}
</div>
