<ul class="dropdown-menu" id="release-menu">
    <li class="example-launcher" id="example-launcher-debug-1" onclick="load_example(this, './examples/campement.html', 'campement.html');">
        Campement
    </li>
    <li class="example-launcher" id="example-launcher-2" onclick="load_example(this, './examples/organes.html', 'organes.html');">
        Organes
    </li>
    <li class="example-launcher" id="example-launcher-3" onclick="load_example(this, './examples/weather.html', 'weather.html');">
        Météo
    </li>
    <li class="example-launcher" id="example-launcher-4" onclick="load_example(this, './examples/fruits.html', 'fruits.html');">
        Fruits
    </li>
    <li class="example-launcher" id="example-launcher-5" onclick="load_example(this, './examples/les-saisons.html', 'les-saisons.html');">
        Les Saisons
    </li>
    <li class="example-launcher" id="example-launcher-6" onclick="load_example(this, './examples/le-systeme-solaire.html', 'le-systeme-solaire.html');">
        Le système solaire
    </li>
    <li class="example-launcher" id="example-launcher-7" onclick="load_example(this, './examples/etats-de-la-matiere.html', 'etats-de-la-matiere.html');">
        Les états de la matière
    </li>
</ul>
<ul class="dropdown-menu" id="debug-menu">
    <li class="example-launcher" id="example-launcher-debug-1" onclick="load_example(this, './examples/campement.html', 'campement.html');">
        Campement.html
    </li>
    <li class="example-launcher" id="example-launcher-debug-2" onclick="load_example(this, './examples/organes.html', 'organes.html');">
        Organes.html
    </li>
    <li class="example-launcher" id="example-launcher-debug-3" onclick="load_example(this, './examples/campement.min.svg', 'campement.min.svg');">
        campement.svg
    </li>
    <li class="example-launcher" id="example-launcher-debug-4" onclick="load_example(this, './examples/weather.html', 'weather.html');">
    Météo
    </li>
    <li class="example-launcher" id="example-launcher-debug-5" onclick="load_example(this, './examples/fruits.html', 'fruits.html');">
        Fruits
    </li>
    <li class="example-launcher" id="example-launcher-debug-6" onclick="load_example(this, './examples/les-saisons.html', 'les-saisons.html');">
        Les Saisons
    </li>
    <li class="example-launcher" id="example-launcher-debug-7" onclick="load_example(this, './examples/le-systeme-solaire.html', 'le-systeme-solaire.html');">
        Le système solaire
    </li>
    <li class="example-launcher" id="example-launcher-debug-8" onclick="load_example(this, './examples/etats-de-la-matiere.html', 'etats-de-la-matiere.html');">
        Les états de la matière
    </li>
    <li class="example-launcher" id="example-launcher-debug-9" onclick="load_example(this, './examples/campement_with_cross.min.svg', 'campement_with_cross.min.svg');">
        campement.svg with cross
    </li>
    <li class="example-launcher" id="example-launcher-debug-10" onclick="load_example(this, './examples/campement_with_parasites.min.svg', 'campement_with_parasites.min.svg');">
        campement.svg with parasites (different viewboxes)
    </li>
    <li class="example-launcher" id="example-launcher-debug-11" onclick="load_example(this, './examples/mask.svg', 'mask.svg');">
        circle with &#60;mask&#62;
    </li>
    <li class="example-launcher" id="example-launcher-debug-12" onclick="load_example(this, './examples/clipPath.svg', 'clipPath.svg');">
        circle with &#60;clipPath&#62;
    </li>
    <li class="example-launcher" id="example-launcher-debug-13" onclick="load_example(this, './examples/organes.min.svg', 'organes.min.svg');">
        organes.min.svg
    </li>
    <li class="example-launcher" id="example-launcher-debug-14" onclick="load_example(this, './examples/landscape_with_script_and_style.svg', 'landscape_with_script_and_style.svg');">
        landscape.svg with imported bugs : &#60;script&#62; and &#60;style&#62;
    </li>
    <li class="example-launcher" id="example-launcher-debug-15" onclick="load_example(this, './examples/landscape1.svg', 'landscape1.svg');">
        landscape1.svg&nbsp;(300x200)
    </li>
    <li class="example-launcher" id="example-launcher-debug-16" onclick="load_example(this, './examples/landscape2.svg', 'landscape2.svg');">
        landscape2.svg&nbsp;(600x200)
    </li>
    <li class="example-launcher" id="example-launcher-debug-17" onclick="load_example(this, './examples/portrait1.svg', 'portrait1.svg');">
        portrait1.svg&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(200x300)
    </li>
    <li class="example-launcher" id="example-launcher-debug-18"onclick="load_example(this, './examples/portrait2.svg', 'portrait2.svg');">
        portrait2.svg&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(200x600)
    </li>
</ul>
