<script type="text/javascript" src="./static/jquery.min.js"></script>
<script type="text/javascript" src="./static/bootstrap_3.3.7.min.js"></script>
<script type="text/javascript" src="./static/FileSaver.min.js"></script>
<script type="text/javascript" src="./static/dragula_3.7.2.min.js"></script>
<script type="text/javascript" src="./static/trumbowyg.2.7.2.min.js"></script>
<script type="text/javascript" src="./static/trumbowyg.base64.js"></script>
<script type="text/javascript" src="./static/spectrum.1.8.0.min.js"></script>
<script type="text/javascript" src="./static/history.js"></script>
<script type="text/javascript" src="./static/drag_and_drop_file.js"></script>
<script type="text/javascript" src="./static/errors_and_warnings.js"></script>
<script type="text/javascript" src="./static/export/script.js"></script>
<script type="text/javascript" src="./static/colors.js"></script>
<script type="text/javascript" src="./static/script.js"></script>
<script type="text/javascript" src="./static/action_key.js"></script>
<script type="text/javascript" src="./static/export.js"></script>
<script type="text/javascript" src="./static/populate.js"></script>
<script type="text/javascript" src="./static/load_examples.js"></script>
<script type="text/javascript" src="./static/retro_compatibility.js"></script>
<script type="text/javascript" src="./static/locale/fr.js"></script>
<script type="text/javascript" src="./static/locale/trumbowyg/fr.js"></script>
