<div id="sidebar">
    <div id="legend-container" class="container-fluid">
        <div id="add-and-delete-legend">
            <button type="button" id="add-legend-button" onclick="add_legend(this);" class="btn btn-success btn-xs">
                <span class="i18n" data-i18n="add_to_legend"></span>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" id="delete-legend-button" class="btn btn-danger btn-xs disabled" onclick="modal_delete_legend(this)">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                <span class="i18n" data-i18n="delete"></span>
            </button>
            <button type="button" id="edit-coypright-button" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-edit-copyright-modal-lg">
                <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                <span class="i18n" data-i18n="edit_copyright"></span>
            </button>
        </div>
        <div id="legend-list-container" class="container-fluid">
            <input type="hidden" id="nb-indices" value="0" />
            <input type="hidden" id="count-nb-display" value="0" />
            <input type="hidden" id="count-nb-selected" value="0" />
            <input type="hidden" id="last-folded-indice" value="" />
            <table id="list-of-legend" class="table table-bordered hidden">
                <thead>
                    <tr id="tr-show-all-legend">
                        <th>
                            <span id="show-all-legend" class="display-indice" onclick="show_all_legend();"></span>
                        </th>
                        <th class="no-visible"></th>
                        <th>
                            <input type="checkbox" id="select-all-legend" onclick="select_all_legend();">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="template-legend" class="hidden">
                        <td>
                            <span class="display-indice" onclick="show_legend(this);"></span>
                        </td>
                        <td>
                            <span class="open-detail" onclick="open_detail(this);"></span>
                            <span class="indice">0</span><em class="i18n" data-i18n="no_title"></em>
                            <div class="detail hidden">
                                <div class="form-group first">
                                    <span class="i18n" data-i18n="zoom"></span> <input class="zoom-input"
                                    type="number"
                                    step="10" value="100"
                                    min="10" max="1000" onchange="zoom(this);"> %
                                    <input class="zoom-enabled" type="checkbox" onchange="active_zoom(this);" />
                                    <span class="i18n" data-i18n="preview"></span>
                                </div>
                                <div class="form-group last">
                                    <input class="color-indice-picker" />
                                    <button type="button" class="related-target-editor btn btn-success btn-xs" data-toggle="modal" data-target=".bs-edit-legend-modal-lg">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        <span class="i18n" data-i18n="edit_title"></span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="selection">
                            <input class="select" type="checkbox" onchange="select_legend(this);">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="source-file-zone">
        <span id="source-file-label" class="i18n" data-i18n="source_file"></span>
        <strong id="source-file"></strong>
    </div>
</div>
